<div class="container">
  <div class="row">
    <h1>
      Hello World!
    </h1>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">It's a bootstrap card!</h5>
        <p class="card-text">If it's not a mess, it's working! 🎉.</p>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Go have fun! (modal)</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is also working! 🖖
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Action button</button>
      </div>
    </div>
  </div>
</div>
